nav {
  width: 100%;
  height: 40px;
  line-height: 35px;
  /* background-color: #282c34; */
  background-color: #154979;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  list-style-type: none;
  justify-content: end;
}

/* li {
  padding: 0 12px;
} */

.navlink {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 9px 0;
  margin: 0 12px;
}
